
.fondo{
    
     background-image: url(../media/img/logos.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     margin: auto;
     height: 550px;
     width: 1000px;
    
  
     
     
}
