textarea{
    resize: none;
    overflow: hidden;
    border-top: 40px;
    padding: 10px;
    width: 625px;
    font-size: 17px;
    border-radius: 6px;
    border: 0;

    &:focus{
        border: none;
        outline:none;
    }
}

